.ajusteTela{
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDash{
    width: 80vw;
    height: 96vh;
    background-color: #fff;
    border-radius: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hrContainer{
    width: 80vw;
    height: 0.5rem;
    border: none;
    background-color: #000;
    margin: 1rem 0 1rem 0;
}