@media  screen and (min-width: 1366px){
    .containerDash{
        width: 69rem;
        height: 47rem;
    }
}
/* 80vw 96vh */
@media  screen and (min-width: 1750px){
    .containerDash{
        width: 95rem;
        height: 57rem;
    }
}

.ajusteTela{
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDash{

    background-color: #fff;
    border-radius: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hrContainer{
    width: 100%;
    height: 0.8%;
    border: none;
    background-color: #000;
}