@media screen and (min-width: 1366px){
    .containerCidadeUnidade{
        width: 20rem;
        height: 20rem;
    }

    .titulo{
        font-size: 1.5rem;
    }

    .textosCidadeUni{
        padding: 0.4rem 0 0.4rem 1rem;
    }

    .divNenhuma{
        height: 15rem;
    }
}
@media screen and (min-width: 1750px){
    .containerCidadeUnidade{
        width: 25rem;
        height: 25rem;
    }

    .titulo{
        font-size: 2rem;
    }
  
    .textosCidadeUni{
        padding: 0.8rem 0 0.8rem 1rem;
    }

    .divNenhuma{
        height: 18rem;
    }
}

.containerCidadeUnidade{
    color: #000;
    background-color: #D9D9D9;
    user-select: none;
    display: flex;
    border-radius: 1rem;
    border: #000 solid 0.15rem;
}

.divCidadeUni{
    width: 50%;
    overflow: auto;
    overflow-x: hidden;
}

.hrCidadeUni{
    width: 0.2rem;
    border: none;
    background-color: #000;
}

.titulo{
    text-align: center;
    margin-top: 0.5rem;
}

.divNenhuma{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ativo{
    background-color: #FBD034;
}