@media screen and (min-width: 320px){
    .titulo{
        margin-top: 6rem;
    }

    .tabela{
        width: 80%;
        height: 75vh;
        max-height: 100%;
    }
}

@media screen and (min-width: 720px){
    .titulo{
        margin-top: 0rem;
    }

    .tabela{
        width: 60%;
        height: 75vh;
        max-height: 100%;
    }
}

ul{
    list-style: none;
}
li{
    padding: 0.5rem;
    margin-bottom: 0.4rem;
}

.contentAdmAluno{
    display: grid;
    grid-template-rows: 1fr 4fr;
    place-items: center;
}

.tabela{
    display: grid;
    grid-template-columns: 1fr 5fr;

    border-radius: 0.6rem;
    border: 0.2rem solid #FBD034;
    background-color: #999999;
}


.linhasId{
    border: 0.1rem #000 solid;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    padding: 0.7rem;
}
.linhasNome{
    border: 0.1rem #000 solid;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
    padding: 0.7rem;
}

.colunaID{
    text-align: center;
}

.topoTable{
    font-size: 1.3rem;
}

.iconAluno{
    width: 2rem;
    height: 2rem;
    float: right;

    cursor: pointer;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    border: 0.1rem #000 solid;
    border-radius: 0.5rem;
}