@media screen and (min-width: 1366px){
    .containerGraficos{
        width: 30rem;
        height: 20rem;
    }

    .titulo{
        font-size: 1.3rem;
    }

    .legenda{
        margin-top: -2rem;
    }
}
@media screen and (min-width: 1750px){
    .containerGraficos{
        width: 40rem;
        height: 25rem;
    }

    .titulo{
        font-size: 1.5rem;
    }
    
    .legenda{
        margin-top: 0rem;
    }
}
.containerGraficos {
    color: #000;
    border-radius: 1.5rem;
    background-color: #d9d9d9;
    margin-top: 1.5rem;
    user-select: none;
    display: flex;
    justify-content: center;
    border: #000 solid 0.15rem;
}

.titulo{
    text-align: center;
    margin-top: 1rem;
}

.divGrafico{
    width: 50%;
    pointer-events: none;
}

/* Estilo dos Icons */
.iconsGrafico{
    width: 3rem;
}

/* Estilo da Legenda */
.legenda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;
}

.ajusteLegenda{
    display: flex;
    flex-direction: column;
}

.itemLegenda{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.caixaCor{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}