@media screen and (min-width: 1366px){
    .containerGraficos{
        width: 40%;
    }

    .titulo{
        font-size: 0.8rem;
    }

    .divGrafico{
        height: 60%;
    }

    .centroGrafico{
        width: 60%;
        height: 82%;
        top: 87%;
        left: 50%;
    }

    .legenda{
        font-size: 0.8rem;
    }

    .caixaCor{
        width: 0.8rem;
        height: 0.8rem;
    }
}
@media screen and (min-width: 1750px){
    .containerGraficos{
        width: 38%;
    }

    .titulo{
        font-size: 100%;
    }

    .divGrafico{
        height: 70%;
    }

    .centroGrafico{
        width: 68%;
        height: 72%;   
        top: 78.5%;
        left: 50%;
    }

    .legenda{
        font-size: 100%;
    }
    
    .caixaCor{
        width: 1rem;
        height: 1rem;
    }
}
.containerGraficos {
    color: #000;
    height: 43%;
    border-radius: 1.5rem;
    background-color: #d9d9d9;
    margin-top: 2%;
    user-select: none;
    display: flex;
    justify-content: center;
}

.titulo{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.divGrafico{
    width: 100%;
    position: relative;
    pointer-events: none;
}

.centroGrafico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* branco no centro */
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* Estilo dos Icons */
.iconsGrafico{
    width: 40%;
}

/* Estilo da Legenda */
.legenda{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.itemLegenda{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.caixaCor{
    border-radius: 100%;
}