.input{
    font-size: 0.9rem;
    margin-bottom: 1.6rem;
    padding: 0.5rem;
    
    outline: none;
    border: 0.1rem solid #000;
}
input::placeholder{
    font-size: 0.75rem;
    color: #000;
}

.label{
    font-size: 1.2rem;
}

.esquerda{
    text-align: left;
}

@media screen and (min-width:  320px) {
    .input{
        margin-right: 0;
    }

    .contentImagem{
        width: 100%;
    }

    /* Estilo de Cadastro de Turma */
    .inputPersonalizado{
        margin-bottom: 1.6rem;
    }
}

@media screen and (min-width:  720px) {
    .input{
        margin-right: 0.8rem;
    }

    .contentImagem{
        width: 90%;
    }

    .inputPersonalizado{
        margin-bottom: 0;
    }
}

/* Estilo Personalizado */
.inputPersonalizado{
    padding: 0.5rem 0;
    border: 0.1rem solid #000;
}
/* Tamanho padrao 13.5rem */
.input13{
    width: 13.5rem;
}
/* Turma */
.inputPU{
    max-width: 13.5rem;
    min-width: none;
}

/* Estilo do Input de Imagem */
.contentImagem{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputImagem{
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: #fff;
    cursor: pointer;
}
.inputImagem:hover{
    background-color: #e2e2e2;
    transition: 0.5s;
}

.divDaImagem{
    text-align: center;
}
.imagemEnviada{
    margin-top: 0.2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
}