@media screen and (min-width: 320px){
    .display_grid{
        margin-top: 7rem;
    }
}

@media screen and (min-width: 720px){
    .display_grid{
        margin-top: 0;
    }
}

.container_adm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}
.display_grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    gap: 3rem;
}

/* Estilo dos Cards */
img{
    width: 8rem;
}

.cards_adm{
    background-color: #999999;
    font-size: 0.5rem;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: #FBD034 solid 0.2rem;
    cursor: pointer;
}