@media screen and (min-width: 320px){
    .divCards{
        margin-top: 7rem;
    }

    .divCadastros{
        width: 90%;
        height: 35rem;
    }
    
    .titulo{
        margin-bottom: 1rem;
        margin-top: 0.3rem;
    }
    
    .divNavegacao{
        grid-template-columns: auto;
        margin: 1rem 1rem 0 1rem;
    }
}

@media screen and (min-width: 720px){
    .divCards{
        margin-top: 0;
    }

    .divCadastros{
        width: 40rem;
        height: 22rem;
    }
    
    .titulo{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .divNavegacao{
        grid-template-columns: auto auto auto;
        margin: 5rem 1rem 0 1rem;
    }
}

.container_adm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

/* Estilo dos Cards */
.divCards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    gap: 3rem;
}

.cards_adm{
    background-color: #999999;
    font-size: 0.5rem;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: #FBD034 solid 0.2rem;
    cursor: pointer;
}

img{
    width: 8rem;
}

/* Estilo do Conteiner dos Cadastros */
.fundoEscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
}

.divCadastros{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
    border-radius: 1rem;
    box-shadow: 0 0 2rem black;
}

.titulo{
    text-align: center;
}

.divNavegacao{
    display: grid;
    gap: 1rem;
}

.btnNavegacao{
    border: 0.2rem solid #FBD034;
    border-radius: 1rem;
    padding: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
}
.btnNavegacao:hover{
    background-color: #FBD034;
    color: #fff;
    transition: 0.3s;
}

.imgFechar{
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 1.2rem;
    cursor: pointer;
}